<!DOCTYPE html>
<html lang="en" ng-app="QuizApp">

<head>
    <meta charset="UTF-8">
    <title>POP QUIZ</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body ng-cloak>
    <div class="col-sm-2 col-lg-4"></div>
    <div ng-controller="QuizCtrl as ctrl" class="col-sm-8 col-lg-4 popquiz-page">
        <h1> POP QUIZ </h1>
        <form name="quizForm" ng-submit="ctrl.submitQuiz()" novalidate>
            <div class="form-group">
                <label for="email">{{ctrl.quiz.qn}}</label>
            </div>
            <div class="form-group">
                <label for="answer">Answers : </label>
                <br/>
                <input id="answer" name="answer" type="radio" ng-model="ctrl.answer.value" value="{{ctrl.quiz.ans1.value}}" /> {{ctrl.quiz.ans1.name}}
                <br/>
                <input id="answer" name="answer" type="radio" ng-model="ctrl.answer.value" value="{{ctrl.quiz.ans2.value}}" /> {{ctrl.quiz.ans2.name}}
                <br/>
                <input id="answer" name="answer" type="radio" ng-model="ctrl.answer.value" value="{{ctrl.quiz.ans3.value}}" /> {{ctrl.quiz.ans3.name}}
                <br/>
                <input id="answer" name="answer" type="radio" ng-model="ctrl.answer.value" value="{{ctrl.quiz.ans4.value}}" /> {{ctrl.quiz.ans4.name}}
                <br/>
               
            </div>
            <div class="form-group">
                <label for="Comments">Comments</label>
                <input id="Comments" name="Comments" type="text" ng-model="ctrl.finalanswer.comments" class="form-control" />
            </div>
            <div class="form-group">
                <hr/>
                <input id="submit" name="submit" type="submit" class="btn btn-success" /> {{ ctrl.finalanswer.message}}
            </div>
        </form>
    </div>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>